# requirements.txt

streamlit
pandas
numpy
pydicom
rt-utils
SimpleITK
PyYAML
Pillow          # For 'from PIL import Image'
plotly          # For 'import plotly.graph_objects as go'
scikit-image    # For 'from skimage.draw import polygon'
git+https://github.com/AIM-Harvard/pyradiomics.git@v3.1.0
